@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #1f242d;
    color: #fff;
    line-height: 1.6;
}

/* Навигация */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #1f242d;
    padding: 20px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar .logo {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 30px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: 0.5s;
}

.navbar ul li:hover a, 
.navbar ul li.active a {
    color: #7cf03d;
}

 
/* Основной блок */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 150px 10%; /* Отступ сверху, чтобы не налезало на навигацию */
}

/* Картинка */
.home-img {
    flex-shrink: 0; /* Запрещает картинке уменьшаться */
}

.img-box {
    width: 320px; /* Размер картинки */
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #7cf03d; /* Зеленая рамка */
    box-shadow: 0 0 10px rgba(124, 240, 61, 0.3);
    overflow: hidden;
}

.img-item img {
    width: 100%;
    height: auto;
}

/* Текст */
.home-info {
    max-width: 600px;
    margin-left: 50px;
}

.home-info h1 {
    font-size: 56px;
    margin-bottom: 70px;
}

.home-info h1 span {
    color: #7cf03d;
}

.home-info p {
    font-size: 20px;
    line-height: 1.6;
    color: #ccc;
}